.navbar {
  /* background-color:#4257b2; */
  
  /* padding: 0; */
  /* color: #1976d2; */
  color: #fff;
    background-color: #0076e5;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
min-height: 54px;
  }

.navitem {
  color: #ffffff; 
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  /* padding: .5em;
  margin-top: .5em;
  margin-bottom: .5em; */
  /* border-bottom: solid 3px  #f3ccff; */
}

.navitem:hover {
  /* background-color: #1976d2;
  color:#fff; */
  /* border-bottom: solid 3px #5d0381; */
  text-decoration: none;
}
